.autocomplete-list-ul{
        overflow-x: hidden;
        font-family:'tahoma',Geneva,Arial,Helvetica,sans-serif;
        font-size: 13px;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        line-height: 16px;
        background: #efefef;
        position: absolute;
        height: auto;
        border: 1px solid rgb(170, 170, 170);
        padding: 0px;
        margin: 0px;
        z-index: 999;
        background-color: #fff;
        border-radius: 4px;
}


li.autocomplete-list-li, .unbxd-prouct-suggest {
        z-index: 10;
        padding-left: 10px;
        cursor: default;
        color: #000000;
        font-size: 13px;
        font-weight: normal;
        border: none;
        left: 577.59375px;
        line-height: 1.5em;
        overflow: hidden;
        list-style-type: none;
        height: auto;
        padding-bottom: 1px;
        font-family:inherit;
        /*border-bottom: 1px solid #e2e2e2;*/
}

.autocomplete-list-li:hover, .unbxd-prouct-suggest:hover, .autoComplt-hint-selected{
        background-color: #808080;
        color: #000;
        cursor: pointer !important;
}

em{
        font-weight: 900;
        font-style: normal;
}

 .autocomplete-category {
        text-transform: uppercase;
        font-weight: 500;
        font-size: 14px;
        padding: 10px 10px 10px 10px;
        font-family: "Helvetica Neue",Arial,sans-serif  ;
        font-size: 14px;
        line-height: 16px;
        background-color:#33CCFF;
}
.unbxd-prouct-suggest{
        height: auto;
        padding-left: 11px;
}
.product-autosuggest{

}
.image{
        height: 0;
        padding-top: 4px;
        margin-top: 2px;
        margin-bottom: 2px;
}
.title{
        float: right;
        text-align: -webkit-auto;
        padding-right: 6px;
        font-size: 15px;
        font-style: italic;
}
.autoCompltHintSelected : {
        color : #fff;
        background-color : red  ;
}



body, input {
                        font-size: 14px;
}
.autoCmplt-input {
        height: 25px;
        padding: 2px;
        width: 376px;
        margin-left: 40%;
        margin-top: 2%;
}

.autoCmplt-input.input-1 {
        width: 180px;
}
.autoCmplt-input.input-2 {
        width: 300px;
}

.product-name{
        font-size: 14px;
}
.product-img{
        float: left;
        margin-right: 5px;
        margin-bottom: 5px;
        margin-top: 9px;
}
.product-price{
    float: right;
    font-size: 13px;
    margin-right: 31px;
    margin-top: 10px;
}

img.autocomplete-list-li{
        width:40px;
        height:40px;
        padding-right: 4px;
}

.product-detailsas{
        height: 40px;
}


.product-imageas{
        float: left;
        width: 40px;
        height: 40px;
        padding-right: 6px;
}

.product-priceas{
        float: left;
}
.product-nameas{
        width: auto;
        height: 40px;
        float:left;

}

div.autocomplete-list-li{
        height: 40px;
}

li#unbxd_hint.autocomplete-list-li{
       border-top: 1px solid #e2e2e2;
}

li.autocomplete-list-li > div {
        /*border-top: 1px solid #e2e2e2;*/
 }

span.autocomplete-list-li, span.autocomplete-list-li:hover{
        font-weight: bold;
        color:#d2322d;
        font-family: arial, tahoma, verdana, sans-serif;
        font-size: 13px;
        font-style: normal;
        padding-left: 0;
}
.header {
    padding-bottom: 8px;
    border-bottom-color: rgb(51, 51, 51);
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-collapse: collapse;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(51, 51, 51);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(51, 51, 51);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(204, 204, 204);
    border-top-style: solid;
    border-top-width: 1px;
    color: rgb(51, 51, 51);
    cursor: default;
    display: block;
    font-family: arial, tahoma, verdana, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    height: 5px;
    line-height: 18px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 6px;
    overflow-x: visible;
    overflow-y: visible;
    padding-left: 10px;
    padding-right: 5px;
    padding-top: 2px;
    text-align: left;
    vertical-align: baseline;
    width: 485px;
}

.header .text {
    top: -11px;
    display: inline-block;
    position: relative;
    background: #fff;
    padding: 0 5px;
    font-size: 13px;
    color: #6d6d6d;
}
