/*
 * Unbxd Autosuggest CSS 0.0.1
 *
 * Copyright 2015, Unbxd
 *
*/

.unbxd-as-wrapper {
    z-index: 100;
    border: 1px solid #dedede;
    border-top: none;
    background-color: #ffffff;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    box-shadow: 0 0.5rem 1.5rem rgba(0,0,0,0.5);
    font-size: 13px;
}

.unbxd-as-wrapper ul {
    list-style-position: outside;
    list-style: none;
    padding: 0;
    margin: 0;
}

.unbxd-as-extra-left:after, .unbxd-as-extra-right:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0px;
    height: 0px;
    visibilty: hidden;
}

.unbxd-as-extra-left .unbxd-as-maincontent {
    float: right;
}

.unbxd-as-extra-right .unbxd-as-maincontent {
    float: left;
}

.unbxd-as-extra-left .unbxd-as-sidecontent {
    float: left;
    border-right: 1px solid #dedede;
}

.unbxd-as-extra-right .unbxd-as-sidecontent {
    float: right;
    border-left: 1px solid #dedede;
}

.unbxd-as-sidecontent+.unbxd-as-maincontent {
    border-right: 1px solid #dedede;
    border-left: 1px solid #dedede;
    margin-right: -1px;
    margin-left: -1px;
}

.unbxd-as-wrapper ul li {
    padding: 4px 9px;
    background-color: #fff;
    cursor: pointer;
}

.unbxd-as-wrapper ul li.unbxd-as-header, .unbxd-as-wrapper ul li.unbxd-as-header:hover {
    background-color: white;
    color: black;
    text-transform: uppercase;
    font-size: 1.5em;
    cursor: default;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Arial;
}

.unbxd-as-wrapper ul li.unbxd-as-insuggestion {
    padding-left: 25px;
    color: #ff8400;
}

.unbxd-as-wrapper ul li.unbxd-as-popular-product:after, .unbxd-as-wrapper ul li.unbxd-as-popular-product .unbxd-as-popular-product-info:after, .unbxd-as-wrapper ul li.unbxd-as-popular-product .unbxd-as-popular-product-cart:after, .unbxd-as-popular-product-quantity-container:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0px;
    height: 0px;
    visibilty: hidden;
}

.unbxd-as-wrapper ul li .unbxd-as-popular-product-image-container {
    max-width: 40px;
    max-height: 40px;
    float: left;
    margin-right: 5px;
}

.unbxd-as-wrapper ul li .unbxd-as-popular-product-image-container:empty {
    margin-right: 0px;
}

.unbxd-as-wrapper ul li .unbxd-as-popular-product-image-container img {
    max-width: 40px;
    max-height: 40px;
    margin: 0 auto;
    display: block;
}

.unbxd-as-wrapper ul li .unbxd-as-popular-product-name {
    padding: 0 0 0 65px;
}

.unbxd-as-wrapper ul li.unbxd-as-popular-product .unbxd-as-popular-product-cart {
    line-height: 15px;
    margin-top: 5px;
}

.unbxd-as-wrapper ul li .unbxd-as-popular-product-price, .unbxd-as-wrapper ul li .unbxd-as-popular-product-quantity, .unbxd-as-wrapper ul li .unbxd-as-popular-product-cart-action {
    float: right;
}

.unbxd-as-wrapper ul li .unbxd-as-popular-product-price {
    padding: 4px;
    line-height: 15px;
}

.unbxd-as-wrapper ul li .unbxd-as-popular-product-quantity .unbxd-as-popular-product-quantity-container {
    border: 1px solid #dedede;
    border-radius: 3px;
    margin: 0px 15px;
}

.unbxd-as-wrapper ul li .unbxd-as-popular-product-quantity .unbxd-as-popular-product-quantity-container>span {
    display: inline-block;
    padding: 3px 4px;
}

.unbxd-as-wrapper ul li .unbxd-as-popular-product-quantity .unbxd-as-popular-product-quantity-container>input {
    display: inline-block;
    border: 0px none;
    border-left: 1px solid #dedede;
    width: 25px;
    line-height: 16px;
    padding: 3px;
}

.unbxd-as-popular-product-cart-button {
    display: inline-block;
    background-color: #ff8400;
    padding: 4px 10px;
    border-radius: 3px;
    color: #fff;
    font-size: 13px;
    text-align: center;
    cursor: pointer;
    outline: none;
    border: medium none;
}

.unbxd-as-popular-product-cart-button:hover, .unbxd-as-popular-product-cart-button:active {
    background-color: #FF9C32;
}

.unbxd-as-popular-product-inlinecart {
    display: table-row;
}

.unbxd-as-wrapper ul li .unbxd-as-popular-product-inlinecart>div {
    display: table-cell;
    float: none;
    padding: 0px;
    vertical-align: middle;
}

.unbxd-as-popular-product-inlinecart .unbxd-as-popular-product-image-container {
    max-height: 30px;
    max-width: 30px;
}

.unbxd-as-popular-product-inlinecart .unbxd-as-popular-product-name p {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.unbxd-as-wrapper ul li .unbxd-as-popular-product-inlinecart .unbxd-as-popular-product-image-container img {
    max-height: 30px;
    max-width: 30px;
    margin-right: 5px;
}

.unbxd-as-popular-product-inlinecart .unbxd-as-popular-product-quantity {
    width: 75px;
}

.unbxd-as-wrapper ul li .unbxd-as-popular-product-inlinecart .unbxd-as-popular-product-quantity .unbxd-as-popular-product-quantity-container {
    margin: 0 5px;
}

.unbxd-as-popular-product-inlinecart .unbxd-as-popular-product-cart-action {
    width: 88px;
    text-align: right;
}

.unbxd-as-wrapper ul li:hover {
    background-color: #fafafa;
    cursor: pointer;
}

.unbxd-as-wrapper.unbxd-as-overall-autosuggest ul li.unbxd-ac-selected {
    cursor: pointer;
    background-color: #fafafa;
}

/*popular-product-grid */

.unbxd-as-wrapper ul li.unbxd-as-popular-product-grid {
    display: inline-block;
    float: left;
}

.unbxd-as-wrapper ul li.unbxd-as-popular-product-grid .unbxd-as-popular-product-image-container {
    max-width: 100px;
    max-height: 100px;
    float: none;
}

.unbxd-as-wrapper ul li.unbxd-as-popular-product-grid .unbxd-as-popular-product-image-container img {
    max-width: 100px;
    max-height: 100px;
}

.unbxd-as-wrapper ul li.unbxd-as-popular-product-grid .unbxd-as-popular-product-name {
    padding: 0;
    overflow: hidden;
    height: 15px;
    width: 110px;
    text-align: center;
}

.unbxd-as-wrapper ul li.unbxd-as-popular-product-grid .unbxd-as-popular-product-price, .unbxd-as-wrapper ul li.unbxd-as-popular-product-grid .unbxd-as-popular-product-quantity, .unbxd-as-wrapper ul li.unbxd-as-popular-product-grid .unbxd-as-popular-product-cart-action {
    float: none;
    text-align: center;
}

#search_field:focus {
    outline: none !important;
    border: 1px solid gray;
    box-shadow: 0 0 5px #999;
}

.unbxd-as-wrapper ul li.unbxd-as-popular-product-grid .unbxd-as-popular-product-image-container {
    margin: 0 auto;
}

.unbxd-as-wrapper ul li.unbxd-as-popular-product-grid .unbxd-as-popular-product-image-container img {
    width: 100%;
}

.unbxd-as-wrapper ul li.unbxd-as-popular-product-grid .unbxd-as-popular-product-name {
    width: 100%;
}

.unbxd-as-popular-product-price .regular-price {
    text-decoration: line-through;
}

.unbxd-as-discount {
    color:#bb2525;
}

.unbxd-as-wrapper .unbxd-as-keysuggestion:hover, .unbxd-as-wrapper .unbxd-as-popular-product:hover{
    background: lightgrey;
}

.unbxd-as-wrapper ul li.unbxd-as-popular-product-grid {
    float: unset;
    box-sizing: border-box;
}

.view-more-link {
    text-align: center;
}

.view-more-link {
    margin: 0.5em;
}

.view-more-link a{
    border-radius: 3px;
}

.view-more-link a {
    background-color: #8976c4;
    color: #fff;
    display: block;
    padding: 0.5em;
    text-decoration: none;
    background: 0 0;
}

.view-more-link a, #sli_autocomplete .sli_ac_section, #sli_autocomplete .view-more-link a:hover {
    background-color: #ec6f34 !important;
}
